body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
  }
  .container {
    background-color: #fff;
    padding: 30px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1 {
    color: #333;
  }
  h2 {
    color: #555;
  }
  p {
    color: #777;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  ul li {
    margin-bottom: 5px;
  }

  .profile-img {
    max-width: 250px;
    height: auto;
    border-radius: 5px;
  }